.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AnalyzeCard {
  width: 60%;

  background-color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  margin-bottom: 1rem;

  transition: width 0.5s, box-shadow 0.25s;
  text-decoration: none;

}

.AnalyzeCard h1 {
  color: #ffffff;
}

.AnalyzeCard:hover {
  width: 65%;

  box-shadow: 4px 4px 4px #000000;  
}

@media (min-width: 700px) {
  .container .content {
    display: flex;
    align-items: center;
    padding: 0 5rem;
  }
}